.gig {
  display: flex;
  justify-content: center;
  background-color: #110224;
  color: white;
  padding-top: 50px;

  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    gap: 30px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .desc{
        width: 700px;
      }

      .rating {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .stars {
          display: flex;
          flex-direction: row;
          gap: 5px;

          img {
            width: 16px;
            height: 16px;
          }
        }
        .top{
            border: 1px solid white;
            border-radius: 13px;
            padding: 5px;
            font-size: 9px;
            font-weight: 800;
            background-color: orange;
        }
      }

      video{
        width: 800px;
        height: 500px;
      }

      .user{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        img{
            width: 32px;
            height: 32px;
        }

        .info{
            span{
                font-weight: 500;
            }
            p{
                font-size: smaller;
                font-weight: 300;
                width: 750px;
            }
        }
      }

      .about{
        display: flex;
        flex-direction: column;
        width: 700px;
        gap: 10px;
      }

      .reviews{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;

        .slider{
            width: 910px;
            height: 400px;

            .item{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid lightgray;
                border-radius: 13px;
                background-color: white;
                height: 100px;
                color: black;
                gap: 10px;
                
                .container{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    padding-top: 12px;
                    gap: 10px;
                    .user{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
        
                        .username{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }

                        .stars{
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
    
            }
        }

      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 400px;
      align-items: center;
      gap: 20px;
      .container {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 5px;
        width: 300px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-top: 5px solid lightblue;
        padding: 20px 40px;
        border-radius: 2px;

        h2{
          color: aqua;
        }

        .tombol{
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;

          button{
            width: 300px;
            height: 30px;
            background-color: transparent;
            color: white;
            font-size: 16px;
            font-weight: 700;
            border: 1px solid aqua;
            border-radius: 5px;
          }

          .order{
            background-color: aqua;
          }

          p{
            color: aqua;
          }

        }
        .checks{
          display: flex;
          flex-direction: column;
          gap: 5px;

          span{
            display: flex;
            flex-direction: row;
            align-items: center;

            .checklist{
              width: 20px !important;
              height: 20px !important;
            }
          }
        }

      }
      .message{
        width: 300px;
        height: auto;
        border: 3px solid rgb(0, 13, 255);
        background-color: rgba(0, 255, 255, 0.815);
        color: white;
        font-weight: 800;
        font-size: 24px;
        padding: 10px 0px;
        border-radius: 52px;
      }
    }
  }
}
